.to-do-item {
  font-size: 2.4em;
  word-break: break-all;
  padding: 15px;
  display: block;
  line-height: 1.2;
  transition: 0.150s;
  border: 1px solid rgba(#4d4d4d, 0.2);
  border-top: none;
  background-color: #fff;
}