* {
  box-sizing: border-box;
  outline: none;
}

#app {
  background: rgba(pink, 0.1);
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
