.add-to-do {
  width: 100%;
  display: flex;
  justify-content: center;

  &__input {
    width: 550px;
    padding: 15px;
    font-size: 2.4em;
    font-weight: 300;
    color: #4d4d4d;
    border: 1px solid rgba(#4d4d4d, 0.2);
    transition: .15s;

    &::placeholder {
      font-style: italic;
      color: rgba(#4d4d4d, 0.2);
    }
  }
}